<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="color:#fff" class="ui center aligned container">

    <div style="margin-top: 120px"
		class="ui container">
		<h2>Sentiment Ananlysis - Crowd Sourced Platforms</h2>
	</div>


	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />


    <meta charset="UTF-8">
    <title>Sentiment Ananlysis - Yelp Reviews</title>
</head>

<body>
            <style>

			body{

  				background-image: url("static/new1.jpg");
  				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;

  				}

			</style>



	<div class="ui center aligned container">

		<h3></h3>
		<p>

			Welcome to automatic Sentiment Analyser....
		</p>
	</div>
	<br>
	<div class="ui center aligned container">
		<h3>Start writing the review here.. </h3>

        <!-- Load icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- The form -->
        <form class="example" action="/" method="Post">
        <input type="text" placeholder="Describe the review in words.." name="search" size ='80' style="height:40px">
        <button type="submit"><i class="fa fa-search" style="height:40px"></i></button>

        </form>

	</div>
	<br>
	<div class="ui right aligned container">
		<h3></h3>
		<p>
		</p>
	</div>
			<div class="ui right aligned container">
		<h3></h3>
		<p>
			Developed By -
			Pranav Dange
		</p>
	</div>
	<br>
	<div class="ui justified container">
		<h3> </h3>
		<p>

		</p>

	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous">
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
	</script>



</body>
</html>