<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div style="color:#fff" class="ui center aligned container">
    <title>Sentiment Analysis - Yelp Review</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		rel="stylesheet" />

</head>
<body>

<div style="margin-top: 150px"
		class="ui container">
		<h2>Sentiment Analysis - Yelp Review</h2>
	</div>

	<div class="ui center aligned container">

		<h3>You are getting... </h3>
        <h1>{{output}}</h1>
		<p>

			Thank you for using Sentiment Analyser..
		</p>
	</div>
	<br>
	<div class="ui center aligned container">
		<h3></h3>

	    <p></p>

		<style>

			body{

  				background-image: url("static/new3 blur.jpg");
  				background-repeat: no-repeat;
  				background-attachment: fixed;
  				background-size: cover;
  				}

		</style>


	</div>
	<br>
	<div class="ui right aligned container">
		<h3></h3>
		<p>
			Developed By -
			Pranav Dange
		</p>
	</div>
	<br>
	<div class="ui justified container">
		<h3></h3>
		<p>
			For more such cool content do checkout my Github link - https://github.com/pranavdange
		</p>

	</div>
	<script src=
"https://code.jquery.com/jquery-3.1.1.min.js"
		integrity=
"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous">
	</script>

	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
	</script>

<button onclick="goBack()">Back to Home Page</button>

<script>
function goBack() {
  window.history.back();
}
</script>


</body>
</html>